@import "tailwindcss";

@theme {
  --color-background: #F4F9F9;
  --color-surface: #FFFFFF;
  --color-primary: #12294A;
  --color-secondary: #223C5B;
  --color-accent: #0F5B96;
  --color-highlight: #89CEDB;
  --color-muted: #A9E0D9;
  
  --color-text-main: #12294A;
  --color-text-muted: #567189;
  --color-border: #DDE8EA;
}

html {
  scroll-behavior: smooth;
  /* Prevents unwanted horizontal structural shaking on mobile swipe */
  overflow-x: hidden;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}